{% extends 'base.html' %}
{% block title %}Reseñar Juego{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h3 class="mb-4">Reseñar "{{ user_game.game.title }}"</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_rating" class="form-label">Puntuación:</label>
                    {{ form.rating }}
                </div>
                <div class="mb-3">
                    <label for="id_text" class="form-label">Reseña:</label>
                    {{ form.text }}
                </div>
                <button class="btn btn-primary w-100">Guardar Reseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
